@page "/LevelEdition"

<PageTitle>LevelEdition</PageTitle>
@using TestJeux.API.Models;
@using LevelEditor.asp.Models;
@using TestJeux.SharedKernel.Enums;

<div style="float: left;width: 20%">
	<sidebar>
		<LevelEditionDisplay @ref="LevelEditionMenu" @bind-LevelModel="@SelectedLevel" @bind-IsLoading="@IsLoading" />
	</sidebar>
</div>
@if (!@IsLoading)
{
	<MapDisplay @ref="Map" @bind-LevelModel="@SelectedLevel" />
}
else
{
	<p>Loading level...</p>
}
<p/>
